@charset "utf-8";

a:link {
    color: #4f5155
}

a:visited {
    color: #4f5155
}

a:active {
    color: #8d67e6
}

a:hover {
    color: #8d67e6
}

html {
    line-height: 1.15;
}

@font-face {
    font-family: FZFWZhuZiAYuanJR;
    src: url('../source/FZFWZhuZiAYuanJR.OTF');
    font-display: swap;
    /*在字体未加载完成时，显示备用字体而不是空白*/
}

body {
    background-image: linear-gradient(135deg, #667eea, #764ba2);
    /*背景图紫色蒙版*/
    transition: all .3s ease;
    font-family: FZFWZhuZiAYuanJR, -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
}

@media (min-width: 1000px) {
    body {
        background-image: url('../img/dot.gif');
        margin: 0;
    }

    .mask {
        background-image: url('../img/background.jpg');
        /*https://api.daihan.top/api/acg*/
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .7;
    }
}

.main {
    background-color: #FFF;
    height: 530px;
    width: calc(100% - 16px);
    max-width: 406px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    border-radius: 8px;
    color: #4F5155;
}

.avatar {
    background-color: #FFF;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    position: relative;
    top: -40px;
    margin: 0 auto;
    padding: 3px;

    box-sizing: border-box;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .3);

    overflow: hidden;
}

.avatar img {
    /*选择器问题*/
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: all .3s ease
}

.avatar img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.info {
    text-align: center;
    margin-top: -15px;
}

.tag {
    margin-top: 5px;
}

.tag ul {
    margin: 0;
    padding: 0;
}

.tag ul li {
    display: inline-block;
    font-size: 12px;
    margin-right: 3px;
}

.tag ul li::before {
    content: "#";
}

a {
    text-decoration: none;
}

.timeline {
    position: relative;
}

.line {
    width: 5px;
    height: calc(100% + 20px);
    background-color: #ececec;
    position: absolute;
    left: 152px;
    /*先前居中时为172px*/
    top: 5px;
}

.timeline ul {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 190px;
    text-align: left;
    padding-left: 20px;
    /*为适应中竖线左移，把圆圈向左移动20px*/
}

.timeline ul li {
    display: flex;
}

.timeline ul li .title {
    position: relative;
    margin-right: 30px;
    margin-left: 50px;
    width: 100px;
    font-size: 14px;
}

.timeline ul li .title::after {
    content: "";
    position: absolute;
    left: 77px;
    top: 3px;
    width: 15px;
    height: 15px;
    border: 4px solid #8c72a7;
    background-color: #FFF;
    border-radius: 50%;
    box-sizing: border-box;
}

.timeline ul li .content {
    box-sizing: border-box;
    padding-right: 20px;
    margin-left: 15px;
    font-size: 12px;
    width: calc(100% - 120px);
    line-height: 1.3;
}

.hitokoto {
    font-size: 12px;
    text-align: center;
    color: #8a8a8a;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    transform: scale(.9);
    line-height: 1.4;
    font-style: italic;
}